<!DOCTYPE html>
<!-- saved from url=(0020)http://m.zjy100.com/ -->
<html><head lang="en"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>自驾游100移动应用下载</title>
    <link type="text/css" href="/web/css/style.css" rel="stylesheet" media="all">
</head>

<body>
<div class="tit">
    移动应用下载(请在浏览器中打开链接下载文件)
</div>

<div class="wary">
    <div class="wary_left">
        <img src="/public/images/jingdezhen.png">
    </div>
    <div class="wary_right">
        <p class="p1">景德镇</p>
        <p class="but"><a href="http://ci.guide.zz365.com.cn:8000/public/jingdezhen.apk"><img src="/public/images/but.gif"></a></p>
        <p class="p2">景德镇市旅游之窗</p>
    </div>
</div>

<div class="wary">
    <div class="wary_left">
        <img src="/public/images/HappySeed.png">
    </div>
    <div class="wary_right">
        <p class="p1">快乐种子</p>
        <p class="but"><a href="http://ci.guide.zz365.com.cn:8000/public/HappySeed.apk"><img src="/public/images/but.gif"></a></p>
        <p class="p2">一个浏览、发布、参加活动的手机端应用</p>
    </div>
</div>
<div class="wary">
    <div class="wary_left">
        <img src="/public/images/s5.png">
    </div>
    <div class="wary_right">
        <p class="p1">互动宝</p>
        <p class="but"><a href="http://ci.guide.zz365.com.cn:8000/public/WisdomGuide.apk"><img src="/public/images/but.gif"></a></p>
        <p class="p2">GPS、WIFI、基站、视频实景、iBeacon全方位定位给您提供精准服务。</p>
    </div>
</div>

<div class="wary">
    <div class="wary_left">
        <img src="/public/images/lsyk.png">
    </div>
    <div class="wary_right">
        <p class="p1">灵山游客应用</p>
        <p class="but"><a href="http://ci.guide.zz365.com.cn:8000/public/lsyk.apk"><img src="/public/images/but.gif"></a></p>
        <p class="p2">为江西上饶灵山游客提供各种服务。</p>
    </div>
</div>

<div class="wary">
    <div class="wary_left">
        <img src="/public/images/yikexing.png">
    </div>
    <div class="wary_right">
        <p class="p1">易客行应用</p>
        <p class="but"><a href="http://ci.guide.zz365.com.cn:8000/public/yikexing.apk"><img src="/public/images/but.gif"></a></p>
        <p class="p2">高铁车站小红帽服务。</p>
    </div>
</div>


<!--div class="wary">
    <div class="wary_left">
        <img src="/public/images/s2.png">
    </div>
    <div class="wary_right">
        <p class="p1">急客行客户端</p>
        <p class="but"><a href="http://image.zjy100.com/Android/app/AcuteTravel.apk"><img src="/public/images/but.gif"></a></p>
        <p class="p2">急客行为着急赶火车的旅客提供各种便捷服务。</p>
    </div>
</div>
<div class="wary">
    <div class="wary_left">
        <img src="/public/images/s3.png">
    </div>
    <div class="wary_right">
        <p class="p1">自驾游客户端</p>
        <p class="but"><a href="http://image.zjy100.com/Android/app/zjy.apk"><img src="/public/images/but.gif"></a></p>
        <p class="p2">为游客提供景点服务、周边游、自驾游、酒店、租车、机票、火车票、接送机、游记等服务。</p>
    </div>
</div>
<div class="wary">
    <div class="wary_left">
        <img src="/public/images/s4.png">
    </div>
    <div class="wary_right">
        <p class="p1">途乐客户端</p>
        <p class="but"><a href="http://image.zjy100.com/Android/app/tule.apk"><img src="/public/images/but.gif"></a></p>
        <p class="p2">途乐让铁路部门和旅客进行双向互动，带给人们旅途中的便利。</p>
    </div>
</div-->


</body></html>